/* -------------------------------- INDEX PAGE --------------------------------- */
.portfolio-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #22ee55;
    padding: 30px 60px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
    overflow: hidden;
}
.portfolio-button:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.05);
}
/* hover glow */
.portfolio-button:hover{
    color:#1e5d29f9;
    background: #46f867de;
    box-shadow: 0 0 10px #46f866, 0 0 40px #46f866, 0 0 80px #21542ade;
}
/* top animation */
.portfolio-button span:nth-child(1)
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #033903,#46f866); 
  
  animation: animate1 2s linear infinite;
}
@keyframes animate1 {
    0%
    { transform: translateX(-100%); }
    100%
    { transform: translateX(100%); }
}
/* right animation */
.portfolio-button span:nth-child(2)
{
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #033903,#46f866);  
 
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
    0%
    { transform: translateY(-100%); }
    100%
    { transform: translateY(100%); }
}
/* bottom animation */
.portfolio-button span:nth-child(3)
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #033903,#46f866);  
  
  animation: animate3 2s linear infinite;
}
@keyframes animate3 {
    0%
    { transform: translateX(100%); }
    100%
    { transform: translateX(-100%); }
}
/* left animation */
.portfolio-button span:nth-child(4)
{
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #033903,#46f866);  

  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate4 {
    0%
    { transform: translateY(100%); }
    100%
    { transform: translateY(-100%); }
}

/* --------------------------------- ALL PAGES -------------------------------- */
header h1 {
    margin: 0;
    font-size: 2em;
}
header {
    background-color: rgba(255, 255, 255, 0.02);
    color: #fff;
    padding: 10px;
    text-align: center;
}
p{
    color: white;
}

/* Navigation Section  */
.navbar {
    height: 90px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo style */
.navbar .logo a {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: 12px;
    text-decoration: none;
    margin-right: 25px; 
}

/* Square outline */
.square-outline {
    width: 50px;
    height: 50px;
    border: 5px double #07c207;
    border-radius: 5px;
    box-sizing: border-box; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* menu */
.menu {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-inline: 20px;
}
.menu ul {
    list-style: none;
    padding: 0;
}
.menu li {
    display: inline-block;
    margin-left: 30px;
}
.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}
.menu a:hover {
    color: #0f0;
}

/* Footer */
footer {
    background-color: #021515;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    bottom: 0;
    width: 100%;
    flex: 1;
}

/* ---------------------------------------- HOME PAGE --------------------------------- */
/* Body */
body {
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    min-height: 100vh;
    background: #444;
    font-family: arial;
    color: #333; 
    height: 100%;
}
.page-container  {
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}
.generic-page{
    background-color: #032424;
}
.contact-page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}
main {
    flex: 1 0 auto; 
}

/* typed intro */
.intro{
    width: 100vw;
    height: 80vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro h4{
    font-size: 60px;
    font-weight: 550;
}
span{
    color: #0f0;
}
button{
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

/* ----- Card -----*/
.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto; 
}
.container .card{
    position: relative;
}
.container .card .face{
    width:300px;
    height: 200px;
    transition:.5s;
}
.container .card .face.face1{
    position: relative;
    background: #053f3f; 
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow: inset 0 0 60px whitesmoke,
                inset 20px 0 80px #0f0,
                inset -20px 0 80px #0f0,
                inset 20px 0 300px #0f0,
                inset -20px 0 300px #0f0,
                0 0 50px #fff,
                -10px 0 80px #0f0,
                10px 0 80px #0f0;
}
.container .card .face.face1 .content{
    opacity: .6;
    transition:  0.5s;
    text-align: center;

}
.container .card:hover .face.face1 .content{
     opacity: 1;
}
.container .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
    
}
.container .card .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
}
.container .card .face.face1 .content a{
   transition: .5s;
}
.container .card .face.face2{
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.9);
    transform: translateY(-100px);
}
.container .card:hover .face.face2{
    transform: translateY(0);
}
.container .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
}
.container .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}
.container .card .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}


/* ---- contact ----- */
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #0f0;
    margin-right: 15px;
    font-size: 20px;
}
.social-icons a{
    color: #0f0;
    font-size: 100px;
    margin-top: 60px;

    text-decoration: none;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: white;
    transform: translateY(-50px);
}
.contact-right{
    flex-basis: 20%;
    margin-top: 100px;
}

/* ------------------------------------ ABOUT ME PAGE ---------------------------------- */
#about{
    padding: 20px 0;
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%; 
}
.about-col-1 img {
    width: 100%; 
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%; 
}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color:white;
}

/* Image */
.image img {
    position: relative;
    left: -20px; 
    width: 30%; 
}


/* Tabs */
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    position: absolute;
    width: 0; /* Start with no width */
    height: 3px;
    background: #0f0;
    bottom: -8px;
    left: 0;
    transition: width 0.5s;
}
.tab-links.active-link::after {
    width: 50%; /* Expand to full width */
}
/* content */
.tab-content ul li {
    list-style: none;
    margin: 20px 0;
    color: white;
}
.tab-content ul li span {
    color: #0f0;
    font-size: 16px;
}
.tab-content {
    display: none;
}
.tab-content.active-tab {
    display: block;
}

/* ------------------------------------ PROJECT PAGE ---------------------------------- */
#projects{
    padding: 8px 0;
}
.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
    margin-top: 80px;
}
.project{
    border-radius: 10px;
    position: relative;
    overflow:hidden;
    padding: 0.8rem;
    background-color: #021515;

}
.project-rectangle h3{
    background-color: #021515;
    padding: 50px; 
    border-radius: 0 0 10px 10px; 
    
    text-align: center;
    color: #0f0;
    font-weight: 100px;
    margin-bottom: 5px;
}
.project-rectangle p{
    text-align: left;
    color: #84a188;
}
.project img {
    width: 100%;
    border-radius: 10px 10px 10px 10px; 
    display: block;
}
.layer{
    width: 88%;
    height: 0;
    background: #021515;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    color: white;
}
.layer h3{
    font-weight: 200;
    margin-bottom: 100px;
    text-align: left;
}
.layer ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
    text-align: left; 
}
.layer ul:before {
    content: "Utilized software:";
    font-size: 16px;
    font-weight: bold; 
    display: block; 
    margin-bottom: 10px; 
}
.layer li {
    margin-bottom: 8px; 
}
.github-btn {
    background-color: #033903; 
    border: none;
    color: #0f0;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
}
.github-btn:hover {
    background-color: #0f0; 
    color: #033903;
}
.project:hover .layer{
    height: 56%;
}


/* ------------------------------------ ------------ ---------------------------------- */
/* ------------------------------------ CSS for SMALL SCREENS ------------------------- */

@media only screen and (max-width: 600px){
    
    /* home page -intro */
    .intro h4{
        font-size: 75px;
        text-align: center;
    }
    /* home page -cards */
    .container {
        width: 100%; 
        display: block;
        margin: 10%; 
    }
    .container .card {
        width: 100%; 
        display: block;
        margin: 10%;
    }
    /* project page -projects */
    .project-list {
        grid-template-columns: 1fr; 
        grid-gap: 200px; 
        margin: 10%;
        margin-left:0;
    }
    /* contact page  */
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}

